# macOS 관련
.DS_Store
*.swp
*.lock
*.xcuserstate

# Xcode 빌드 폴더
DerivedData/
build/

# CocoaPods & Swift Package Manager 관련
Pods/
Carthage/
.framework/
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# 환경설정 파일
xcuserdata/
*.xcscmblueprint
*.xcworkspace

# IDE 관련 파일
.idea/
.vscode/

# Dependencies 폴더 (올리면 안 되는 것)
dependencies/
