name: iOS Tests

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: macos-latest

    env:
      FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 30 # 기본 3초 → 30초로 늘리기
      FASTLANE_XCODEBUILD_SETTINGS_RETRIES: 4 # 기본 4 (유지하거나 2~3으로 줄여도 됨)

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.4"

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: true

      - name: Install CocoaPods
        run: |
          gem install cocoapods --no-document
          pod --version

      - name: Install Pods
        run: pod install

      - name: Run unit tests via fastlane
        run: bundle exec fastlane ios tests
